### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
### Added ###
.idea/
*.iml
*.class

# Contexto de IA y Diseño
AGENT.md
BRAND_GUIDELINES.md
GEMINI.md
PROJECT_CONTEXT.md
spec.md

# Base de datos local
users.dat

# Archivos de compilación de Maven
target/

### Mac OS ###
.DS_Store